<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="home-banner-text">
          <h3 class="home-banner-title">
            ỨNG DỤNG BẢO MẬT DI ĐỘNG<br />
            HÀNG ĐẦU
          </h3>
          <span class="d-block"
            >Ứng dụng ngăn chặn tin tặc xâm nhập thiết bị di động đầu tiên
            trên thế giới giải pháp bảo vệ toàn diện cho các thiết bị IOS &
            Android</span
          >
          <a
            href="#"
            class="btn btn-register animate__animated animate__headShake animate__delay-2s animate__repeat-3"
            >MUA GÓI BẢO MẬT</a
          >
        </div>
      </div>
      <div class="swiper-slide">
        <div class="home-banner-text">
          <h3 class="home-banner-title">
            ỨNG DỤNG BẢO MẬT DI ĐỘNG<br />
            HÀNG ĐẦU
          </h3>
          <span class="d-block"
            >Cung cấp các giải pháp phòng thủ trên thiết bị theo thời gian
            thực chống lại các mối đe dọa đã biết và chưa biết</span
          >
          <a
            href="#"
            class="btn btn-register animate__animated animate__headShake animate__delay-2s animate__repeat-3"
            >MUA GÓI BẢO MẬT</a
          >
        </div>
      </div>
      <div class="swiper-slide">
        <div class="home-banner-text">
          <h3 class="home-banner-title">
            ỨNG DỤNG BẢO MẬT DI ĐỘNG<br />
            HÀNG ĐẦU
          </h3>
          <span class="d-block"
            >Nền tảng của chúng tôi bảo vệ doanh nghiệp của bạn bằng cách
            cung cấp một lớp bảo mật di động hoàn chỉnh</span
          >
          <a
            href="#"
            class="btn btn-register animate__animated animate__headShake animate__delay-2s animate__repeat-3"
            >MUA GÓI BẢO MẬT</a
          >
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>