<div class="menu">
    <div class="wrap-menu">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img
            src="/images/logo-ngang.png"
            alt="logo-ameritec"
            width="200"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
              >
                Giới Thiệu
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"
                  >Giới Thiệu Về Công Ty CP Ameritec</a
                >
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
              >
                Đứng Đầu Lĩnh Vực
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"
                  >Bảo Mật Di Động Doanh Nghiệp</a
                >
                <a class="dropdown-item" href="#"
                  >Nghiên Cứu Mối Đe Dọa Trên Di Động</a
                >
                <a class="dropdown-item" href="#"
                  >Qui Định Tuân Thủ Cho Thiết Bị Di Động</a
                >
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
              >
                Sản Phẩm
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"
                  >Ứng Dụng Bảo Mật Thiết Bị Di Dộng - AIPS</a
                >
                <a class="dropdown-item" href="#"
                  >Bộ Bảo Vệ Ứng Dụng Di Động - MAPS</a
                >
                <a class="dropdown-item" href="#"
                  >Phân Tích Ứng Dụng Nâng Cao Z3A</a
                >
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Đối Tác</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Giải Pháp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tin Tức - Sự Kiện</a>
            </li>
          </ul>
          <div class="btn-menu my-2 my-lg-0">
            <a href="#" class="btn btn-login">Đăng Nhập</a>
            <a
              href="#"
              class="btn btn-register btn btn-register animate__animated animate__headShake animate__infinite"
              >MUA GÓI BẢO MẬT</a
            >
          </div>
        </div>
      </nav>
      <div class="top"></div>
    </div>
  </div>